.svn/
*.o
*.lo
*.la
*.log
*.substvars
.deps
.libs
/libtool
/stamp-h1
/Makefile
/Makefile.in
/*-stamp
/Makefile
Makefile.in
/config.h
/config.status
/config.guess
/config.sub
/ltmain.sh
/aclocal.m4
/configure
/configure.scan
/config.hin
/depcomp
/install-sh
/missing
/ylwrap
/.autotools
/.cproject
/.project
/autom4te.cache/
